# Generic
# ------------------------
Thumbs.db
Desktop.ini
Icon?
.DS_Store
.directory
*.cache
*.old
*.log
*~
*.zip

# Application files
# ------------------------
/app/cache/*
/app/logs/*
/modules/*
/app/.env
/public/assets/
/public/.htaccess

# Dependency folders
# ------------------------
/vendor/
/node_modules/
/assets/vendor/
composer.lock
clover.xml
coveralls-upload.json

# IDE Files
#-------------------------
nbproject/
.idea/
.settings/
.idea/
.project
*.sublime-*

# But Keep these files
# ------------------------
!index.html
!.htaccess
!.gitkeep
