<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    bootstrap="bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="valse">
	<php>
		<const name="PHPUNIT_TEST" value="1" />
        <server name="REMOTE_ADDR" value="0.0.0.0" />
		<server name="CI_ENV" value="testing" />
	</php>
	<testsuites>
		<testsuite name="CI-Skleleton TestSuite">
			<directory suffix="Test.php">./</directory>
		</testsuite>
	</testsuites>
	<filter>
        <whitelist>
            <directory suffix=".php">../app/</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">../vendor/</directory>
        </blacklist>
	</filter>
</phpunit>
